@import 'colors';
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@font-face {
  font-family: 'cornerstoneregular';
  src: url('./fonts/cornerstone-webfont.woff2') format('woff2'),
       url('./fonts/cornerstone-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 22px;
  line-height: 1.28571em;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  background-color: $med-bkd;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'cornerstoneregular';
  background: url('../images/black-rest-banner.png');
  min-height: 164px;
  color: $bright-text;
  padding: 10px 16px;
  text-transform: uppercase;
  width: 100%;
  position: fixed;
  z-index: 99;

  #title {
    h1 {
      font-size: 3em;
    }
  }
}

#content {
  position: absolute;
  width: 100%;
  top: 164px;
  display: grid;
  grid-template-columns: 300px auto;
}

#filterButtons {
  // display: flex;
  // flex-direction: column;
  overflow-y: scroll;
  position: fixed;
  overflow: auto;
  width: 250px;
  height: calc(100% - 164px);
  padding-left: 10px;
}

#results {
  padding: 16px;
  background-color: $light-bkd;
  color: black;
  display: grid;
  grid-template-columns: calc(33vw - 100px) calc(33vw - 100px) calc(33vw - 100px);
  position: absolute;
  left: 250px;
  z-index: -1;
}


.biz {
  img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  }
}

.banner {
  // font-family: 'cornerstoneregular';
  background-color: black;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  padding: 15px;
  margin: 0;
  color: $light-bkd;
}

.biz {
  border: 1px solid $bright-text;
  border-radius: 2%;
  margin: 10px;
  padding: 10px;
  background-color: $pale;
}

.name {
  font-weight: bold;
}

.neighborhood {
  font-style: italic;
}

.category-title {
  font-weight: bold;
  margin-top: 10px;;
}

ul {
  list-style: none;
  padding-left: 0;
}

.filter-group {
  margin-top: 20px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%
// }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
// .sticky + #content {
//   padding-top: 102px;
// }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}