@import 'colors';
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@font-face {
  font-family: 'cornerstoneregular';
  src: url('./fonts/cornerstone-webfont.woff2') format('woff2'),
       url('./fonts/cornerstone-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-size: 22px;
  // font-size: 14px;
  line-height: 1.28571em;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  background-color: $med-bkd;
}

.biz {
  img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  }
}

.banner {
  // font-family: 'cornerstoneregular';
  background-color: black;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  padding: 15px;
  margin: 0;
  color: $light-bkd;
}

#myHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'cornerstoneregular';
  background: url('../images/black-rest-banner.png');
  min-height: 164px;
  color: $bright-text;
  padding: 10px 16px;
  text-transform: uppercase;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #content {
  padding-top: 102px;
}

#content {
  display: grid;
  grid-template-columns: 300px auto;
}

.biz {
  border: 1px solid $bright-text;
  border-radius: 2%;
  margin: 10px;
  padding: 10px;
  background-color: $pale;
}

#results {
  padding: 16px;
  background-color: $light-bkd;
  color: black;
  display: grid;
  grid-template-columns: calc(33vw - 100px) calc(33vw - 100px) calc(33vw - 100px);
  position: absolute;
  left: 250px;
  z-index: -1;
}

.name {
  font-weight: bold;
}

.neighborhood {
  font-style: italic;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

#filterButtons {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: auto;
  width: 300px;
  padding-left: 10px;
}

.category-title {
  font-weight: bold;
  margin-top: 10px;;
}

ul {
  list-style: none;
  padding-left: 0;
}

.filter-group {
  margin-top: 20px;
}

#title {
  h1 {
    font-size: 3em;
  }
}